.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 60vw;
	height: auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

// _________________________________________________HEADER_________________________________________________________

#header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20vh;

	.bannerTop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 75%;
		background: #601315;

		.logo {
			object-fit: contain;
			height: 40%;
			margin-left: 2%;
		}

		.bannerFSWD01 {
			object-fit: contain;
			height: 70%;
			margin-right: 2%;
		}
	}

	#nav {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		background: black;

		ul {
			display: flex;
			width: 30%;
			justify-content: space-between;
		}

		li {
			display: flex;
			list-style: none;
			font-size: 2em;
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}

// _________________________________________________MAIN CONTENT_________________________________________________________

#mainContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 96%;
}

// -------------------------------background-images

	#nasa {
		background-image: url("img/nasa.png");
	}

	#eu {
		background-image: url("img/eu.png");
	}

	#jeff {
		background-image: url("img/jeff.png");
	}

	#polar {
		background-image: url("img/polar.png");
	}

	#musk {
		background-image: url("img/musk.jpg");
	}

	#snowden {
		background-image: url("img/snowden.jpg");
	}

	#iphone {
		background-image: url("img/iphone.png");
	}

	#smart {
		background-image: url("img/smart.png");
	}

	#one {
		background-image: url("img/one.png");
	}

	#phone {
		background-image: url("img/phone.png");
	}

// --------------------------------------------------SECTION 1-----------------------------------------------------------

#date {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	line-height: 2em;
	margin: 0.5% 0 0 0;
}

#topNewsHeader {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	box-sizing: border-box;
	align-items: center;
	font-size: 2em;
	line-height: 1.5em;
	margin: 0.5% 0 2% 0;
	padding-left: 10px;
	background: #DEDEDE;
}

// --------------------------------------------------SECTION 2-----------------------------------------------------------

#section_2 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

// -----------------------------------------------------------

#contentTop {
	display:flex;
	flex-direction: column;
	width: 86%;
}

	// -------------------------------imageBoxTop

	.imageBoxTop {
		display: flex;
		align-items: flex-end;
		width: 32%;
		height: 270px;
		background-size: cover;	
		background-color: gray;

		.imageBoxTopText {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 30%;
			width: 100%;
			margin: 0;
			padding: 0 10px;
			background: black;
			color: white;
			font-size: 1.3em;
		}
	}

	// -------------------------------

	#topNewsContent {
		display: flex;
		justify-content: space-between;
	}

	// -------------------------------

	#popularHeader {
		display: flex;
		justify-content: flex-start;
		box-sizing: border-box;
		align-items: center;
		font-size: 2em;
		line-height: 1.5em;
		margin: 2% 0;
		padding-left: 10px;
		background: #DEDEDE;
	}

	// -------------------------------

	#popularContentTop {
		display: flex;
		justify-content: space-between;
	}

// -----------------------------------------------------------

#bannerFSWD02 {
	display:flex;
	width: 12%;
}

// --------------------------------------------------SECTION 3-----------------------------------------------------------

#bannerDeveloper {
	display:flex;
	object-fit: contain;
	width: 92%;
	margin: 2% 0;
}

// --------------------------------------------------SECTION 4-----------------------------------------------------------

#section_4 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

// -----------------------------------------------------------

#contentBottom {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width: 86%;
}

	// -------------------------------imageBoxBottom

	.imageBoxBottom {
		display: flex;
		align-items: flex-end;
		width: 48%;
		height: 400px;
		background-size: cover;	
		background-color: gray;

		.imageBoxBottomText {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 30%;
			width: 100%;
			margin: 0;
			padding: 0 10px;
			background: black;
			color: white;
			font-size: 1.8em;
		}
	}

	// -------------------------------

	#popularContentBottom {
		display: flex;
		justify-content: space-between;
	}

// -----------------------------------------------------------

#bannerCF {
	display:flex;
	width: 12%;
}

// _________________________________________________FOOTER_________________________________________________________

#footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20vh;
	margin-top: 5%;
	background: black;
	color: white;

	.bannerBottom {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 75%;

		.logo {
			object-fit: contain;
			height: 50%;
			margin-right: 2%;
		}
	}

	#navBottom {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: center;

		ul {
			display: flex;
			width: 20%;
			justify-content: space-between;
		}

		li {
			display: flex;
			list-style: none;
			font-size: 1.5em;
		}

		a {
			color: white;
			text-decoration: none;
		}
	}

	#copyright {
		display: flex;
		justify-content: center;
		font-size: 1.1em;
	}
}